<form class="form-horizontal" action="/" method="POST">
    <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Feature:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="description" name="description" placeholder="Description">
        </div>
    </div>
    <div class="form-group">
        <label for="finality" class="col-sm-2 control-label">In order</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="finality" id="finality" placeholder="To ....">
        </div>
    </div>
    <div class="form-group">
        <label for="who" class="col-sm-2 control-label">As</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="who" name="who" placeholder="Actor">
        </div>
    </div>
    <div class="form-group">
        <label for="purpose" class="col-sm-2 control-label">I want</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="purpose" name="purpose" placeholder="Something">
        </div>
    </div>

<!--Scenario-->
<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Scenario:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="title" name="title" placeholder="Some determinable business situation">
    </div>
</div>
    <div class="form-group">
        <label for="given" class="col-sm-2 control-label">Given</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="given" name="given" placeholder="Some precondition">
        </div>
    </div>
    <div class="form-group">
        <label for="when" class="col-sm-2 control-label">When</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="when" name="when" placeholder="Some action by the actor">
        </div>
    </div>
    <div class="form-group">
        <label for="then" class="col-sm-2 control-label">Then</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="then" name="then" placeholder="Some testable outcome is achieved">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
    </form>